* {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #685858; /* Light gray background */
}

header {
    background-color: #343a40; /* Keep the navbar dark for contrast */
}

section {
    background-color: #ffffff; /* White background for each section */
}

#home img {
    margin-top: 20px; /* Add space above the image */
}
#home .btn {
    margin-bottom: 40px; /* Adjust spacing below the button */
}

.profile-image {
    border-radius: 30px;
    width: 400px;
    height: auto;
    margin-right: 20px; /* Space between image and text */
}

.skills-section {
    background-color: #e9ecef;
}

    .skills-section ul {
        list-style-type: none;
        padding: 0;
    }

    .skills-section li {
        margin: 10px 0;
        font-size: 1.1rem;
        color: #000000;
    }

.card {
    transition: transform 0.2s;
}

    .card:hover {
        transform: scale(1.05);
    }
